/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

$primary: #155e75;
$secondary: #334155;
$info: #0f766e;
$success: #15803d;
$warning: #ca8a04;
$danger: #be123c;
